//** white colors **//
$white-0: #F5F5F5;
$white-0-25: transparentize($white-0, .75);
$white-0-50: transparentize($white-0, .5);
$white-0-75: transparentize($white-0, .25);

//** black colors **//
$black-0: #000000;
$black-1: #1F1F1F;

//** light grey colors **//
$grey-0: #B8B8B8;

//** accent colors **//
$highlight: #758BFD;
$highlight-dis: #373A4D;


//** event colors **//
$red-0: #BA181B;
$yellow-0: #F2C94C;
$green-0: #38B000;
