@import '../../../styles/styles';

.selectWallet{
    @include alignForMobile;
    position: relative;
    min-height: 95vh;
    padding-bottom: 12.5vh;
    .title{
        padding: 3rem 0 5rem 0;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 500;
        position: relative;
        
        .loading {
            position: absolute;
            font-size: .9rem;
            border-radius: .4rem;
            transform: translate(-50%, 0);
            text-align: center;
            left: 50%;
            bottom: 1rem;
            user-select: none;
            pointer-events: none;
        }
    }
    .wallets {
        padding: 1rem 0;
        .wallet{
            border: none;
            color: $white-0;
            width: 100%;
            font-size: 1rem;
            padding: 1rem 1rem;
            background-color: $black-1;
            border-radius: .4rem;
            overflow-x: scroll;
            text-align: center;
            &:not(:last-child){
                margin-bottom: .75rem;
            }
            &:hover {
                cursor: pointer;
            }
            &:hover, &:focus {
                background-color: lighten($black-1, 7.5);
            }
            &:disabled {
                opacity: .5;
                &:hover {
                    cursor: default;
                }
                &:hover, &:focus {
                    background-color: $black-1;
                }
            }
        }
    }
    .btnSection{
        min-height: 10vh;
        width: 100%;
        padding: 2rem;
        position: absolute;
        left: 0;
        bottom: 0;
        .darkBtn{
            width: 100%;
            border: none;
            padding: .75rem;
            font-size: 1rem;
            background-color: $black-1;
            color: $white-0;
            transition: background-color .1s ease-in-out;
            &:hover{
                background-color: lighten( $black-1, 5 );
            }
            &:active{
                background-color: lighten( $black-1, 7.5 );
            }
        }
    }
}

@include forDesktopUp {
    .selectWallet {
        @include alignForDesktop;
        min-height: auto;
        padding-bottom: 15vh;
        .wallets {
            overflow-y: scroll;
            max-height: 30vh;
            padding-left: 1.5rem;
            padding-right: .5rem;
            .wallet{
                transition: background-color .1s ease-in-out;
                overflow-x: hidden;
            }
        }
        .btnSection {
            padding: 0 3rem;
            .darkBtn {
                &:hover{
                    cursor: pointer;
                }
                &:hover, &:focus {
                    background-color: lighten($black-1, 7.5);
                }
            }
        }
    }
}