@import '../../../styles/styles';

@mixin isButton {
    transition: .1s ease-in-out background-color;
    border: none;
    &:hover{
        cursor: pointer;
    }
    &:disabled {
        &:hover{
            cursor: default;
        }
    }
}

.copyButton {
    @include isButton;
    background: none;
    padding: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0;
    color: $white-0;
    font-size: 1rem;
    p{
        padding-left: .5rem;
    }
}

@mixin fullWith {
    width: 100%;
}

@mixin buttonStyles($backgroundColor) {
    @include isButton;
    background: $backgroundColor;
    color: $white-0;
    font-weight: 500%;
    font-size: 1rem;

    &:hover, &:active{
        background-color: darken($backgroundColor, 5);
    }
    &:active{
        background-color: darken($backgroundColor, 7.5);
    }
    &:disabled {
        background-color: darken($backgroundColor, 60);
        &:hover, &:active {
            background-color: darken($backgroundColor, 60);
        }
    }
}

.pButton { 
    @include buttonStyles($highlight);
}

.fullWithPButton{
    @include buttonStyles($highlight);
    @include fullWith;
}

.eButton {
    @include buttonStyles($red-0);
}

.fullWithEButton {
    @include buttonStyles($red-0);
    @include fullWith;
}

.sButton {
    @include buttonStyles($green-0);
}
.fullWithSButton {
    @include buttonStyles($green-0);
    @include fullWith;
}