@import '../../../styles/styles';

.showPopup, .hidePopup{
    z-index: 1000;
    width: 100%;
    height: 80vh;
    position: fixed;
    background: $black-1;
    transition: top .3s ease-in-out;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    .header{
        width: 100%;
        position: relative;
        padding: .75rem 0 .5rem 0;
        background: lighten($black-1, 5);
        .title{
            text-align: center;
            font-weight: 400;
            width: 100%;
        }
        .closeBtn{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            color: $white-0;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0%, -50%);
        }
    }
}
.showBgOverlay, .hideBgOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    background-color: transparentize($black-0, .5);
    user-select: none;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}

.hideBgOverlay{
    opacity: 0;
    width: 0;
    height: 0;
}
.showBgOverlay{
    opacity: 1;
    width: 100%;
    height: 100vh;
}

.showPopup{
    top: 20%;
    left: 0;
}
.hidePopup {
    top: 100%;
    left: 0;
}

@include forDesktopUp {
    .showPopup, .hidePopup{
        transform: translate(-50%, -50%);
        width: 500px;
        height: 70vh;
        border-radius: .4rem;
        transition: 
            top .5s ease-in-out,
            opacity .25s ease-in-out;
        .header{
            // padding: .5rem 0;
            padding: .75rem;
            .closeBtn{
                transition: color .1s ease-in-out;
                &:hover{
                    cursor: pointer;
                }
                &:hover, &:focus{
                    color: $red-0;
                }
            }
        }
    }
    
    .showPopup{
        opacity: 1;
        top: 50%;
        left: 50%;
    }
    .hidePopup {
        opacity: 0;
        top: -100%;
        left: 50%;
    }
}