@import '../../../styles/styles';

.walletSetup {
    @include alignForMobile;
    .title{
        text-align: center;
        font-weight: 500;
        padding: 5vh 0;
    }
}

@include forDesktopUp{
    .walletSetup{
        @include alignForDesktop;
        .title{
            padding: 2.5vh 0 5vh 0;
        }
    }
}