@import '../../../styles/styles';

$mobileSize: 2rem;
$desktopSize: 2.5rem;

@mixin loadingIndicator {
    padding: .5rem;
    background-color: transparentize($white-0, .8);
    border-radius: .4rem;
    position: fixed;
    transition: 
        top .6s ease-in-out,
        opacity .6s ease-in-out;
    z-index: 50;

    .loading {
        @keyframes rotator {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        border-radius: 50%;
        border-top: .25rem solid $white-0;
        border-left: .25rem solid transparentize($white-0, .75);
        border-bottom: .25rem solid transparentize($white-0, .75);
        border-right: .25rem solid transparentize($white-0, .75);
        animation: rotator 1s ease-in-out infinite forwards;

        width: $mobileSize;
        height: $mobileSize;
    }
    width: $mobileSize + 1rem;
    height: $mobileSize + 1rem;

    @include forDesktopUp {
        .loading {
            width: $desktopSize;
            height: $desktopSize;
        }
        width: $desktopSize + 2rem;
        height: $desktopSize + 2rem;
        padding: 1rem;
    }
}
.loadingIndicatorDisplay {
    @include loadingIndicator;
    top: 1rem;
    left: 1rem;
    opacity: 1;

}
.loadingIndicatorHide {
    @include loadingIndicator;
    top: -5rem;
    left: 1rem;
    opacity: 0;
}