@import '../../../styles/styles';

.passwordInput {
    .subtitle {
        padding-bottom: .75rem;
    }
    .boxInput{
        .label{
            display: block;
            padding-bottom: .75rem;
        }
        input{
            background-color: $black-1;
            color: $white-0;
            border: none;
            width: 100%;
        }
        &:not(:last-child){
            padding-bottom: 1.25rem;
        }
    }
    .togglePassword{
        background: none;
        border: none;
        color: $white-0;
        background-color: $black-1;
    }
    .breakLine {
        padding: 1rem;
    }
    .btnArea{
        display: block;
    }
    .error{
        color: $red-0;
        padding-bottom: .75rem;
    }
}