@import '../../../../styles/styles';

.navbarWrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    padding: 0 2rem 2rem 2rem;
    z-index: 500;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .walletNavbar {
        border-radius: 1rem;
        background: $black-1;
        // padding: .4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .buttonWrapper, .backButtonWrapper{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            .button, .activeButton{
                min-height: 3rem;
                min-width: 3rem;
                padding-top: .15rem;
                background: none;
                border: none;
                display: block;
                overflow: hidden;
                position: relative;
                .ActiveImg, .img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: opacity .15s ease-in-out;
                }
            }
            .activeButton {
                .img{
                    opacity: 0;
                }
                .activeButton{
                    opacity: 1;
                }
            }
            .button {
                .img{
                    opacity: 1;
                }
                .activeButton{
                    opacity: 0;
                }
            }
        }
        .backButtonWrapper{
            display: none;
        }
    }
}

@include forDesktopUp {
    .navbarWrapper {
        background: transparent;
        width: 3rem;
        bottom: 50%;
        left: calc(50% - 250px);
        height: 25vh;
        padding: 0;
        transform: translate(-50%, 50%);
        .walletNavbar{
            height: 25vh;
            z-index: 100;
            flex-direction: column;
            width: 3rem;
            .buttonWrapper,.backButtonWrapper {
                .button {
                    &:hover {
                        cursor: pointer;
                    }
                    &:hover, :focus {
                        .img{
                            opacity: .5;
                        }
                        .activeButton{
                            opacity: .5;
                        }
                    }
                }
            }
            .backButtonWrapper {
                display: flex;
            }
        }
    }
}